.error{
    margin-top: 15px;
}
.icon{
  color:#3c444a;
  padding-right: 3%;
  cursor: pointer;
}
.icon:hover{
  color:  #00abff; 
}
.cont{
  color: #00abff;
    margin-left: 85%;
    margin-top: 2%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    color:#fff;
    margin-top: 16px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.imagecontainer{
	background-color: #efefef
}
.imagecontainer p{
	margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imagecontainer img{
  height: 100px;
  margin: 0 auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.imagecontainer span{
  background-color: #fa3e3e;
    border-radius: 24px;
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, .3);
    color: #fff;
    cursor: default;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 24px;
    cursor: pointer;
}
.image{
  width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}

.selectedImage{ 
    width:640px;
    position:relative }

.btn-back, .btn-forward{
    position:absolute;
    opacity: 0.5;
    border-radius: 48px;
    font-size: 20px;
    background-color:black;
    padding:10px;
    top:230px;
    color:white;
    text-weight:bold;
    cursor:pointer;
    height: 38px;
    width: 38px;
    text-align: center;
    
}
 
.btn-forward{
    left:612px;
    margin-right: 7px;
}
bton-back{
    margin-left: 7px; 
}
.tn{ 
   margin:2px 0px;
   box-shadow:#999 1px 1px 3px 1px; 
   cursor: pointer 
    }
.modal-content {
    width: 670px !important;
}

.loader{
    margin: 0 0 2em;
    text-align: center;
    margin: 0 auto;
    margin-left: -52%;
    margin-top: -5%;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #01abff;
}