<div class="modal fade " id="selectedImageModal" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
           <img class="selectedImage" *ngIf="selectedImage!=''" src="{{selectedImage}}" >
            <div class="btn-back ion-chevron-left" (click)=navigate(false)></div>
             <div class="btn-forward ion-chevron-right" (click)=navigate(true)></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " id="resizeImageModal" >
    <div class="modal-dialog" style="margin-left: 7%;" role="document">
      <div class="modal-content" style="width: 1500px !important">
        <div class="modal-body">
            <div [ngStyle]="succesFile()" class="form-group fileUpload  btn col-sm-3">         
                  <span>Cargar</span>
                  <input (change)="_img.imgChange($event)" type="file" class="upload" accept="image/*" >
              </div>
            <button class="btn btn-success" (click)="_img.zoom('+')">+</button>
            <button class="btn btn-success"(click)="_img.zoom('-')">-</button>
            <button class="btn btn-success"(click)="_img.center()">Centrar</button>            
            <ly-cropping-img #_img format="png"></ly-cropping-img>  
            <button  class="btn btn-primary" data-dismiss="modal" (click)="fileChangeEvent(_img.imgCrop)" >Guardar</button>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="crears">
    <ba-card title="Agregar Nuevo">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="textprincipal">Descripción</label>
              <input type="text" name="nombre" id="nombre" [ngStyle]="nameError()" class="form-control" [(ngModel)]="slide.descripcion">   
              <div style="margin-top: 5%"></div>
              <button *ngIf="noimage" class="btn btn-primary" data-toggle="modal" data-target="#resizeImageModal">Subir imagen</button>
              
            </div>
            </div>
            

          <div class="imagecontainer col-sm-12">
            <p *ngIf="slide.imagenes[0]==''">No hay imagenes cargadas</p>
            <div class="row">
            <div *ngFor="let image of slide.imagenes">
              <div>
               <!-- <img src="{{url +'getimagesl/'+image}}">-->
                <img src="{{image}}" data-toggle="modal" data-target="#selectedImageModal"
                  (click)=setSelectedImage(image)>
                <span class="ion-close-round " (click)="deleteimage(image)"></span>
              </div>
            </div>
            </div>
          </div>

          <div style="margin-top: 1%"></div>
          <button type="button" class="btn btn-danger btn-icon" (click)="closeSlide()">Cancelar</button>
          <button type="submit" class="btn btn-primary btn-icon" (click)="saveTema()">Guardar</button>
          <p class="error">{{errormensage}}</p>

          <div *ngIf="clickguardar" class="loader loader--style3" title="2">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 25 25"
                to="360 25 25"
                dur="0.6s"
                repeatCount="indefinite"/>
              </path>
            </svg>
          </div>

    </ba-card>    
  </div>

  <div class="row">
    <i class="icon ion-chevron-left" style="margin-left: 2%;" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
    <p style="padding-right: 3%;margin-left:2%;cursor:default;">{{n}}</p>
    <i class="icon ion-chevron-right" style="margin-left: 2%;" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
  </div>
  <div style="margin-top: 1%"></div>
  <div>
    <ba-card title="SlideShows creados">
      <button type="button" (click)="crear()" class="btn btn-primary btn-icon"><i class="ion-plus-round" ></i> Crear nuevo</button>
      <div class="row">
        <div *ngIf="message!=''" style="margin: 0 auto" class="col-md-3"><p>{{message}}</p></div>
        
          <div *ngFor="let slider of sliders | slice:(n-1)*limit:n*limit"  class="col-md-3" >
            <ba-card title="{{slider.descripcion}}" class="col-md-3" >
              <img *ngIf="slider.imagenes" data-toggle="modal" data-target="#selectedImageModal"
                  (click)=setSelectedImage2(slider.imagenes) src="{{slider.imagenes[0]}}" class="image">
                  <div style="margin-top: 1%"></div>
                  <i class="ion-close-round icon" data-toggle="tooltip" title="Eliminar tema" (click)=" lgModalShow(slider)"></i>
                  <i class="ion-edit icon" data-toggle="tooltip" title="Editar" (click)="edit(slider)"></i>
            </ba-card>
          </div>
          
      </div>
    </ba-card>
  </div>

