<ba-card class="col-md-12">
	<div class="row">
		<div class="form-group col-md-6">
			<label for="empresaList">Seleccione empresa</label>
			<select id="empresaList" class="form-control">
				<option *ngIf="emprecant<=0" disabled>No hay empresas creadas</option>
	            <option *ngFor="let empresa of empresas" [value]="empresa._id">{{empresa.nombre}}</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="empresaList">Seleccione empresa</label>
			<select id="empresaList" class="form-control">
				<option *ngIf="emprecant<=0" disabled>No hay empresas creadas</option>
	            <option *ngFor="let empresa of empresas" [value]="empresa._id">{{empresa.nombre}}</option>
			</select>
		</div>
	</div>
</ba-card>

<ba-card title="actividades recientes">
	<table class="table table-condensed">
	    <thead>
		    <tr>
		      <th><strong>Fecha</strong></th>
		      <th><strong>Hora</strong></th>
		      <th><strong>Descripción</strong></th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr>
			    <td></td>
			    <td></td>
			    <td></td>			      
		    </tr>
	    </tbody>
  </table>
</ba-card>