<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{modalContent}}
      <p>¿Está seguro de eliminar este Tema?</p>
      <button type="button" class="btn btn-success confirm-btn" (click)="delete()" >Aceptar</button>
      <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()">Cancelar</button>
   
    
  </div>

</div>
