<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <p>{{pregunta.tipo}}</p>
    {{modalContent}}
    <div *ngIf="pregunta.tipo=='opción simple' || pregunta.tipo =='opción múltiple' ">
    <ul>
      <li *ngIf="opciones.opcion1!=''"><p>{{opciones.opcion1}}</p></li>
      <li *ngIf="opciones.opcion2!=''"><p>{{opciones.opcion2}}</p></li>
      <li *ngIf="opciones.opcion3!=''"><p>{{opciones.opcion3}}</p></li>
      <li *ngIf="opciones.opcion4!=''"><p>{{opciones.opcion4}}</p></li>
    </ul>
    </div>
    <div *ngIf="pregunta.tipo == 'numérica'">
    <p><strong>Minimo: </strong></p><p>{{opciones.opcion1}}</p>
    <p><strong>Maximo: </strong></p><p>{{opciones.opcion2}}</p>
    </div>
  </div>
</div>
