  <div class="row">
      <i class="icon ion-chevron-left" style="margin-left: 2%;" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
      <p style="padding-right: 3%;margin-left:5%;cursor:default;">{{n}}</p>
      <i class="icon ion-chevron-right" style="margin-left: 2%;" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
    </div>
<div style="margin-top: 1%"></div>
<ba-card title="Lista de Cuestionarios">
<div class="row">
	<div *ngIf="message!=''" style="margin: 0 auto;">{{message}}</div>
	
	<div *ngFor="let cuestionario of cuestionarios | slice: (n-1)*limit:n*limit" class="col-md-6">
		<ba-card>
			<div class="row">
			<h3 class="col-10">{{cuestionario.nombreC}}</h3>
			<div class="col-2 btn-group dropdown show" ngbDropdown>
		      	<button aria-haspopup type="button" class="btn btn-default" ngbDropdownToggle>
		        <i class="ion-navicon-round"></i>
		      	</button>
		      	<ul class="dropdown-menu">
		        	<li (click)="lgModalShow(cuestionario)" class="dropdown-item">Mostrar</li>
		        	<li class="dropdown-item" (click)="lgModalShowEdit(cuestionario)">Editar</li>
		        	<li (click)="clonar(cuestionario._id,cuestionario.nombreC)" class="dropdown-item">Clonar</li>
		        	<li (click)="lgModalDeleteEdit(cuestionario) " class="dropdown-item">Eliminar</li>
		        </ul>
		    </div>
		    </div>
		</ba-card>
	</div>
</div>
</ba-card>
