.ul {
	list-style-type:none;
	cursosr:pointer
}

.ul li{
color:black;
  padding:10px 30px 10px 30px;
  display:inline;
  border:1px solid #8F8F8F;
  border-radius:10px;
  background-color:#F3F0F0;
}
.btn-group.flex-dropdown {
    display: flex;
  }
.dropdown-menu {
  left: -290px;
}
.dropdown-item{
  display: table-cell;
   cursor: pointer;

}
.show > .dropdown-menu {
    display: table;
}
.icon{
  color:#3c444a;
  cursor: pointer;
 }
.icon:hover{
  color: #00abff; 
}