<div>  
  <formulario *ngIf="createF && !createD && !editB"
    [kiosko]="kiosko"
    (Event)="close()"
  ></formulario>   
  <directorio *ngIf="createD && !createF && !editB"
    [kiosko]="kioskoD"
    [buttons]="boton"
    (Event)="close()"
  ></directorio>
  <botones *ngIf="editB && !createD && !createF" 
    [botones]="botons"
    (Event)="close()">
  </botones>
</div>
  
    <div class="row">
      <i class="iconpag ion-chevron-left" style="margin-left: 2%;" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
      <p style="padding-right: 3%;margin-left:5%;cursor:default;">{{n}}</p>
      <i class="iconpag ion-chevron-right" style="margin-left: 2%;" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
    </div>
    <div style="margin-top: 1%"></div>
  <ba-card title="Listado de Kioskos">
  <button *ngIf="tipeButon=='otros'" (click)="crear()" type="button" class="btn btn-primary"><i class="ion-plus-round" ></i> Crear nuevo</button>
  <div class="col-2 btn-group dropdown show" ngbDropdown>
    <button *ngIf="tipeButon=='multiple'" aria-haspopup type="button" class="btn btn-primary" ngbDropdownToggle>
    <i class="ion-plus-round"></i> Crear nuevo
    </button>
    <ul class="dropdown-menu">
      <li class="dropdown-item" (click)="crearForm()">Kiosko Formulario</li>
      <li class="dropdown-item" (click)="crearDir()">Kiosko Directorio</li>
    </ul>
  </div>
  <div style="margin-bottom: 1rem"></div>
  <div class="row">
      <div *ngIf="message!=''" style="margin: 0 auto"><p>{{message}}</p></div>
      <div class="col-sm-6" *ngFor="let kiosko of kioskos| slice: (n-1)*limit:n*limit">        
        <ba-card>
            <h4>{{kiosko.nombre}}           
              <i *ngIf="kiosko.estado == true" class="ion-ios-close" style="color: #8bd22f" data-toggle="tooltip" title="Activo"></i>
              <i *ngIf="kiosko.estado == false" class="ion-ios-close" style="color: #FF5722" data-toggle="tooltip" title="Inactivo"></i>
            </h4>
            <div >
              <i class="ion-edit icon" style="padding-right: 3%" (click)="editar(kiosko)"  data-toggle="tooltip" title="Editar kiosko"></i>
              <i class="ion-eye icon" style="padding-right: 3%" (click)="lgModalShowKiosko(kiosko)" data-toggle="tooltip" title="Mostrar Información del kiosko"></i>
              <i class="ion-close-round icon" style="padding-right: 3%" (click)="lgModalDeleteKiosko(kiosko)" data-toggle="tooltip" title="Eliminar"></i>
            </div>
        </ba-card>
      </div>
      <div class="col-sm-6" *ngFor="let kioskod of kioskosD">        
        <ba-card>
            <h4>{{kioskod.descripcion}}           
              <i *ngIf="kioskod.estado == true" class="ion-ios-close" style="color: #8bd22f" data-toggle="tooltip" title="Activo"></i>
              <i *ngIf="kioskod.estado == false" class="ion-ios-close" style="color: #FF5722" data-toggle="tooltip" title="Inactivo"></i>
            </h4>
            <div >
              <i class="ion-cube icon" style="padding-right: 3%" data-toggle="tooltip" title="Editar botones" (click)="editBoton(kioskod)"></i>
              <i class="ion-edit icon" style="padding-right: 3%"   data-toggle="tooltip" title="Editar kiosko" (click)="editKD(kioskod)"></i>
              <i class="ion-eye icon" style="padding-right: 3%"  data-toggle="tooltip" title="Mostrar Información del kiosko"></i>
              <i class="ion-close-round icon" style="padding-right: 3%"  data-toggle="tooltip" title="Eliminar" (click)="lgModalDeleteKioskoD(kioskod)"></i>
            </div>
        </ba-card>
      </div>
  </div>
  </ba-card>
  