<div class="row">
<div class="col-md-8">
  <ba-card title="Botones del Kiosko">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Estado</th>
        <th>Icono</th>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let boton of botones" class="col-md-6">
      <td>
        <i *ngIf="!boton.estado" class="ion-ios-circle-outline" style="font-size: 20px;" (click)="boton.estado=true;updateBtn2(boton)"></i>
        <i *ngIf="boton.estado" class="ion-ios-checkmark" style="font-size: 20px;color:#00abff;" (click)="boton.estado=false;updateBtn2(boton)"></i>
      </td>
      <td><i class="{{boton.icono}}" style="font-size: 20px;"></i></td>
      <td><p style="margin-top: 15px;">{{boton.descripcion}}</p></td>
      <td><i class="ion-edit" style="font-size: 20px;" (click)="editar(boton)"></i></td>
    </tr>
    </tbody>
  </table>
       <button class="btn btn-danger confirm-btn" (click)="close()">Cerrar</button>
  </ba-card>
</div>
<div *ngIf="edit" class="col-md-4">
  <ba-card title="Botones del Kiosko">
    <div class="form-group  ">
      <label class="modal-label" for="nombreboton">Descripción</label>
      <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="btn.descripcion" id="nombreboton" class="form-control modal-form" maxlength="15" required>
    </div>
    <div class="form-group  ">
      <label class="modal-label" for="nenlaceboton">Enlace</label>
      <input type="text" #enlace="ngModel" name="enlace" [(ngModel)]="btn.enlace" id="enlaceboton" class="form-control modal-form" maxlength="15" required>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <label class="modal-label" for="exampleSelect1">Seleccionar icono</label>
        <select  #icono="ngModel"  name="icono" [(ngModel)]="btn.icono" class="form-control modal-form" id="exampleSelect1">
          <option *ngFor="let icon of icons" value="{{icon.value}}">{{icon.display}}</option>    
        </select>
      </div>
      <div class="col-md-4" style="padding-top: 4%;">
        <i class="{{btn.icono}}" style="font-size: 50px"></i>
      </div>
    </div>
    <button class="btn btn-primary confirm-btn" (click)="updateBtn()">Guardar</button> 
    <button class="btn btn-danger confirm-btn" (click)="cancelar()">Cerrar</button>
  </ba-card>
</div>
</div>