<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      
    <div *ngIf="show == 'true'">
      <div *ngFor="let pregunta of preguntas">
        <div class="container">
          <div class="row col-6">
            <h3>{{pregunta.nombre}}</h3>
            <p>{{pregunta.tipo}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="show == 'delete' || show == 'deleteD'">
      <p>¿Esta seguro de eliminar este Kiosko?</p>
      <div>
        <button *ngIf="show == 'delete'" type="button" class="btn btn-success confirm-btn" (click)="deleteKiosko()" > Aceptar</button>
        <button *ngIf="show == 'deleteD'" type="button" class="btn btn-success confirm-btn" (click)="deleteKioskoD()" > Aceptar</button>
        <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()"> Cancelar</button>
      </div>
    </div>
  </div>
</div>




