<ba-card title= "Opciones del Kiosko">
  <form #kioskoform="ngForm" (submit)="save()">                    
    <div class="form-group col-md-6 ">
      <label class="modal-label" for="nombrekiosko">Descripción</label>
      <input type="text" #nombre="ngModel" [ngStyle]="nameError()" name="nombre" [(ngModel)]="kiosko.nombre" id="nombrekiosko" class="form-control modal-form" required>
    </div>
    <div class="form-group col-md-6 ">
      <label class="modal-label" for="nombrekiosko">Identificador</label>
      <input type="text" #id="ngModel" name="id" [(ngModel)]="kiosko.id" id="idkiosko" class="form-control modal-form" style="border-color: #efefef;
    color: #5a5e60;" placeholder="Nombre del Kiosko" readonly required>
    </div>
      <button type="button" style="margin-left: 32%;" class="btn btn-success confirm-btn" (click)="makeid()">Generar aleatorio</button>

    
    <div class="row">
      <div class="form-group col-md-6">
        <label class="modal-label" for="exampleSelect1">Seleccionar Cuestionario</label>
        <select #cuestionario="ngModel" [ngStyle]="selectError()" name="cuestionario" [(ngModel)]="kiosko.cuestionario" class="form-control modal-form" id="exampleSelect1">
          <option *ngIf="fcuest<=0" disabled>No hay cuestionarios creados</option>
          <option *ngFor="let cuestionario of cuestionarios" [value]="cuestionario._id">{{cuestionario.nombreC}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label class="modal-label" for="exampleSelect1">Seleccionar Tema</label>
        <select  #tema="ngModel" [ngStyle]="selectError()" name="tema" [(ngModel)]="kiosko.tema" class="form-control modal-form" id="exampleSelect1">
          <option *ngIf="ftemas<=0" disabled>No hay temas creados</option>
          <option *ngFor="let tema of temas" [value]="tema._id">{{tema.nombre}}</option>    
        </select>
      </div>
    </div>
    <div>
      <button class="btn btn-danger confirm-btn" (click)="close()">Cerrar</button>
      <button type="submit" class="btn btn-primary confirm-btn" >Guardar</button>
    </div>
  <p *ngIf="errorK!=''" style="margin-top: 15px">{{errorK}}</p>
  </form>
</ba-card>