  <div class="row">
      <i class="icon ion-chevron-left" style="margin-left: 2%;" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
      <p style="padding-right: 3%;margin-left:5%;cursor:default;">{{n}}</p>
      <i class="icon ion-chevron-right" style="margin-left: 2%;" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
    </div>
    <div style="margin-top: 1%"></div>
  <ba-card title="Listado de Reportes">
  <div class="row">
      <div *ngIf="messageR!=''" style="margin: 0 auto"><p>{{messageR}}</p></div>
      <div class="col-sm-6" *ngFor="let repor of reportesC | slice: (n-1)*limit:n*limit">        
        <ba-card>
          <h4>Reportes de: {{repor.cuestionarioN}}</h4>
          <div>
            <i class="ion-eye iconlist " data-toggle="tooltip" title="Mostrar Reportes" style="padding-right: 3%" (click)="lgModalShowReporte(repor)"></i>
            <i class="ion-person-stalker iconlist" style="padding-right: 3%" (click)="lgModalShowPersonReporte(repor)" data-toggle="tooltip" title="Mostrar personas registradas"></i>
            <i class="ion-close-round iconlist" style="padding-right: 3%" (click)="lgModalShowElim(repor)" data-toggle="tooltip" title="Eliminar"></i>

          </div>
        </ba-card>
    
        
      </div>
  </div>
  </ba-card>
  