<div class="row">
	<iframe class="col-md-6" style="border: none;height: 600px;" src="https://static.3dwayfinder.com/projects/21da6fd69ff4ccbc9d4441d521fef9a0"></iframe>
	<ba-card class="col-md-6" title="Lista de zonas y locales">
		
	</ba-card>
</div>