<h1>NUEVO ADMINISTRADOR</h1>
<div class="row">
    <div class="col-md-6">
		<ba-card baCardClass="with-scroll">
      
  	   	<div class="form-group">
		    <label for="InputNombre">Nombre y Apellido</label>
		    <input #name="ngModel" name="name" [(ngModel)]="AdminRegister.name"  maxlength="40" class="form-control" id="InputNombre" (keypress)="validateN(event)" [ngStyle]="nameError()">
		</div>
      	<div class="form-group">
		    <label  for="InputUsername">Nombre de usuario</label>
		    <input #userName="ngModel" name="userName" [(ngModel)]="AdminRegister.username" type="text" class="form-control" id="InputUsername" maxlength="40" (keypress)="validateP(event)" [ngStyle]="usernameError()">
		</div>
		<div class="form-group">
		    <label for="InputEmail1">Correo electrónico</label>
		    <input #email="ngModel" name="email" [(ngModel)]="AdminRegister.email" type="email" class="form-control" id="InputEmail1" maxlength="40" [ngStyle]="emailError()">
		  </div>
		  <div class="form-group">
		    <label  for="InputPassword">Contraseña</label>
		    <input #adminpass="ngModel" name="adminpass" [(ngModel)]="password" type="password" class="form-control" id="InputPassword" maxlength="40" [ngStyle]=" passError()">
		  </div>
		  <div class="form-group">
		    <label  for="InputPassword2">Confimar Contraseña</label>
		    <input  #pass="ngModel" name="pass"  [(ngModel)]="password2" type="password" class="form-control" id="InputPassword2" maxlength="40" [ngStyle]=" passError()">
		  </div>
		</ba-card>
	</div>
	<div class="col-md-6">	
		<ba-card baCardClass="with-scroll">
		    <div class="form-group">
			    <label  for="InputEmpresa">Empresa</label>
			    <select #empre="ngModel" name="empre" [(ngModel)]="AdminRegister.empresa" [ngStyle]="empreError()" class="form-control" id="InputEmpresa">
					<option *ngIf="emprecant<=0" disabled>No hay empresas creadas</option>
              		<option *ngFor="let empresa of empresas" [value]="empresa._id">{{empresa.nombre}}</option>
				</select>
			</div>
			  
			 <!--   <div class="form-group">
					<label>Tipo de Kiosko</label>
				  	<div class="input-demo radio-demo ">
				    <div class="col-md-4">
				    	<label class="ckbox-inline custom-checkbox nowrap">
				       	<input type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
				       	<span translate>Formulario</span>
				      </label>
				    </div>
				    <div class="col-md-4">
				      	<label class="ckbox-inline custom-checkbox nowrap">
				        <input type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
				        <span>Directorio</span>
				      	</label>
				    </div>
				  	</div>
				</div>
				<div class="form-group">
				    <label  for="InputEmpresa">Cantidad de Botones</label>
				    <input  #boton="ngModel" name="boton" [(ngModel)]="AdminRegister.cantBoton" type="text" class="form-control" id="InputEmpresa" maxlength="1" min="2" max="9" (keypress)="validateNum(event)">
				</div>
-->
		</ba-card>				  
	</div>
    
    <button type="submit" class="btn btn-success" (click)="onSubmitRegister()">Agregar</button>	
    <div class="col-md-6">
    			<p>{{message}}<p>   	
    </div>    	
</div>
