<div class="row">
   
   <div class="col-md-12" >
   <div *ngIf="!cuestionarioa">
      <ba-card title="Crear Cuestionario" baCardClass="with-scroll">
        <form #cuestionarioForm="ngForm" (submit)="crearCuestionario()" class="row form-inline">
    		  <div class="form-group col-sm-6">
    		    <input type="text" #nombrec="ngModel" name="nombrec" [(ngModel)]="cuestionario.nombreC"  class="form-control" id="inputNombrec" placeholder="Descripción" required>
    		  </div>
    		  <button type="submit" class="btn btn-primary">Crear</button>
          
    		</form>
        <div style="margin-top: 15px"><p>{{errorC}}<p></div>
      </ba-card> 
    </div>
    </div>
   
 
  <div class="col-md-6">
    <div *ngIf="cuestionarioa"> 
    <ba-card>
      <div class="row" >
        <div class="col-sm-10">
            <h3>{{cuestionario.nombreC}}</h3>
        </div>
        <div class="col-sm-2">
          <i class="icon ion-close-round" (click)="delete(cuestionario._id);deleteCshow=true"></i>
        </div>
      </div>
    </ba-card>
    </div>
  </div>
  <div *ngIf="cuestionarioa && deleteCshow" class="col-md-6">
    <ba-card>
      <p>¿Está seguro de eliminar este cuestionario?</p>
      <button class="btn btn-danger confirm-btn" (click)="deleteCshow=false;deleteC=false">Cancelar</button>
      <button type="submit" class="btn btn-primary confirm-btn" (click)="deleteC=true;delete(cuestionario._id)" >Aceptar</button>  
    </ba-card>
  </div>
</div>

<div *ngIf="cuestionarioa">
  <div class="row">    
    <div class="col-md-6">
      	<ba-card title="Preguntas" baCardClass="with-scroll">
       	<form #preguntaForm="ngForm" (submit)="crearPregunta()">
      	   <div class="form-group">
			       <label for="InputNombre">Descripción</label>
			       <input #nombrep="ngModel" maxlength="82" name="nombrep" [(ngModel)]="pregunta.nombre" type="text" class="form-control" id="InputNombre" (ngModelChange)="frasep()" required>
			       <p>{{p}} / 82</p>
           </div>  			
			      <div class="form-group">
			       <label for="optionp">Tipo de pregunta</label>

			       <select #optionp="ngModel" [(ngModel)]="pregunta.tipo" name="optionp" class="form-control" required>
			         <option *ngFor="let option of options" [value]="option.value">{{option.display}}</option>
			       </select>
			     </div>
           
           <div *ngIf="pregunta.tipo == 'opción simple' || pregunta.tipo == 'opción múltiple'">
              <p class="">Opciones para la pregunta</p>
              <tr>
                <td>
                  <div class="form-group">
                    <input #opcion1="ngModel" [(ngModel)]="opciones.opcion1" type="text" class="form-control" name="opcion1" placeholder="Opción 1">
                  </div>
                  <div class="form-group">
                    <input  #opcion2="ngModel" [(ngModel)]="opciones.opcion2" type="text" class="form-control" name="opcion2" placeholder="Opción 2">
                  </div>
                  <div class="form-group">
                    <input #opcion3="ngModel" [(ngModel)]="opciones.opcion3" type="text" class="form-control" name="opcion3" placeholder="Opción 3">
                  </div>
                  <div class="form-group">
                    <input  #opcion4="ngModel" [(ngModel)]="opciones.opcion4" type="text" class="form-control" name="opcion4" placeholder="Opción 4">
                  </div>
                </td>
              
              </tr>
           </div>
           <div *ngIf="pregunta.tipo == 'numérica'">
              <p class="">Opciones para la pregunta</p>
              <tr>
                <td>
                  <div class="row">
                  <div class="form-group col-md-6">
                    <input #opcion1="ngModel" [(ngModel)]="opciones.opcion1" maxlength="2" type="text" class="form-control" name="opcion1" placeholder="Min" (keypress)="validateP(event)">
                  </div>
                  <div class="form-group col-md-6">
                    <input  #opcion2="ngModel" [(ngModel)]="opciones.opcion2" maxlength="2" type="text" class="form-control" name="opcion2" placeholder="Max" (keypress)="validateP(event)">
                  </div>
                  </div>
                </td>
              
              </tr>
           </div>

           <div class="row"></div>
			     <button type="submit" class="btn btn-success btn-with-icon"><i class="ion-plus-round"></i>Agregar pregunta</button>
            <div class="errorC"><p>{{errorP}}<p></div>
		    </form>
      	</ba-card>
    </div>
      
    <div class="col-md-6">
      <div *ngIf="deleteshow">
        <ba-card title="Eliminar Pregunta">
          <p>¿Está seguro de eliminar esta pregunta?</p>
          <button class="btn btn-danger confirm-btn" (click)="deleteshow=false;deletep=false">Cancelar</button>
          <button type="submit" class="btn btn-primary confirm-btn" (click)="deletep=true;borrarp(id)" >Aceptar</button>        
        </ba-card>
      </div>
    	<ba-card title="Lista de Preguntas" >
      <div class="container" [dragula]='"third-bag"'>
      	<div *ngFor ="let pregunta of preguntas">
          <ba-card id="{{pregunta._id}}">
            <h3>{{pregunta.nombre}}</h3>
            <p>{{pregunta.tipo}}</p>
            <i class="icon ion-close-round" style="padding-right: 3%" data-toggle="tooltip" title="Eliminar pregunta" (click)="borrarp(pregunta._id);deleteshow=true;"></i>
            <i class="icon ion-eye" data-toggle="tooltip" title="Mostrar datos de la pregunta" (click)="lgModalShow(pregunta)"></i>
          </ba-card>
        </div>
      </div>
      </ba-card>
   </div> 
</div>
</div>
