<div class="auth-main">
  <div class="auth-block">
    <div class="logo">
      <img src="{{ ( 'Xplor' | baProfilePicture ) }}">
    </div>
    <div style="margin-top: 1rem;"></div>
    <form #loginForm="ngForm" (submit)="onSubmit()" class="form-horizontal">
      <div class="form-group row" >
        <label for="inputEmail3" class="col-sm-2 control-label" translate>Usuario</label>

        <div class="col-sm-10">
          <input #username="ngModel" name="username" type="text" class="form-control" id="inputEmail3" [(ngModel)]="admin.username">
        </div>
      </div>
      <div class="form-group row" >
        <label for="inputPassword3" class="col-sm-2 control-label" translate>Contraseña</label>

        <div class="col-sm-10">
          <input #password="ngModel" name="password" type="password" class="form-control" id="inputPassword3" [(ngModel)]="admin.password">
        </div>
      </div>
      <div style="margin-top: 1rem;"></div>
      <div class="form-group row">
        <div class="col-sm-12">
          <a routerlink="/login" style="cursor:pointer;" class="forgot-pass" translate (click)="show = true">Olvidé mi contraseña</a>
          <button type="submit" style="margin-left: 38%" class="btn btn-default btn-auth" translate>Iniciar Sesión</button>
          <div style="margin-bottom: 1rem"></div>
          <p *ngIf="message!=''" style="color: gold;">{{message}}</p>
        </div>

      </div>
    </form>    
  
  </div>
  <div *ngIf="show" class="auth-block">
    <form class="form-horizontal">
      <div style="text-align: center">
      <p> Ingresa tu cuenta de correo electrónico para recuperar tu contraseña</p>
      </div>
      <div style="margin-top: 8%"></div>
      <div class="form-group row" >
        <div class="col-sm-12">
          <input #email="ngModel" name="email" type="text" class="form-control" id="inputEmail4" [(ngModel)]="admin.email">
        </div>
      </div>
      <div style="margin-top: 1rem;"></div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="button" style="margin-left: 42%" class="btn btn-default " (click)="recoveryPassword()">Enviar</button>
          <div style="margin-bottom: 1rem"></div>
          <p *ngIf="messageE!=''" style="color: gold;">{{messageE}}</p>
        </div>

      </div>
    </form>    
  
  </div>
</div>

 