<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{modalContent}}
    <div *ngIf="show == 'show'">
    
    <ul>
      <li *ngFor="let pregunta of preguntas">
        <h4>{{pregunta.nombre}}</h4> 
        <p>{{pregunta.tipo}}</p>
      </li>
    </ul>
    </div>

    <div *ngIf="show == 'edit'" >
      <div class="form-group col-md-12 ">
        <label class="modal-label" for="nombrecuestion">Descripción</label>
        <div class="row col-md-12">
        <input type="text" #nombrec="ngModel" name="nombrec"  [(ngModel)]="cuestionario.nombreC" id="nombrecuestion" class="form-control modal-form col-md-6" required>
        <button type="button" class="btn btn-success col-md-3 offset-md-1" style="right: 32px;" (click)="newP()"><i class="ion-plus-round"></i> Agregar pregunta</button>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div style="margin-top: 7%"></div>
            <ul>
              <li *ngFor="let pregunta of preguntas">
                <h4>{{pregunta.nombre}}    <i class="ion-edit" style="color: green; margin-left: 4%;cursor: pointer;" data-toggle="tooltip" title="Editar" (click)="editP(pregunta)"></i>  <i class="ion-close-round" style="color: red;margin-left: 4%;cursor: pointer;" (click)=" borrarp(pregunta._id);deleteshow=true" data-toggle="tooltip" title="Eliminar"></i></h4>
                <p>{{pregunta.tipo}}</p>
              </li>
            </ul>
          </div>
          <div class="col-md-6" *ngIf="deleteshow">
            <div style="margin-top: 5%"></div>
            <div class="showdelete container">
                <p>¿Está seguro de eliminar esta pregunta?</p>
                <button class="btn btn-danger confirm-btn" (click)="deleteshow=false;deletep=false">Cancelar</button>
                <button type="submit" class="btn btn-primary confirm-btn" (click)="deletep=true;borrarp(id)" >Aceptar</button>        
            </div>
          </div>
          <!--AGREGAR NUEVA PREGUNTA-->
          <div *ngIf="agregar" class="col-md-4" style="margin-top:2%">
            <form #preguntaForm="ngForm" (submit)="crearPregunta()">
               <div class="form-group">
                 <label for="InputNombre" class="modal-label">Descripción</label>
                 <input #nombrep="ngModel" maxlength="82" name="nombrep" [(ngModel)]="pregunta.nombre" type="text" class="form-control modal-form" id="InputNombre" placeholder="Nombre" (ngModelChange)="frasep()" required>
                 <p>{{p}} / 82</p>
               </div>       
                <div class="form-group">
                 <label for="optionp" class="modal-label">Tipo de pregunta</label>

                 <select #optionp="ngModel" [(ngModel)]="pregunta.tipo" name="optionp" class="form-control modal-form" required>
                   <option *ngFor="let option of options" [value]="option.value">{{option.display}}</option>
                 </select>
               </div>
               
               <div *ngIf="pregunta.tipo == 'opción simple' || pregunta.tipo == 'opción múltiple'">
                  <p class="modal-label">Opciones para la pregunta</p>
                  <tr>
                    <td>
                      <div class="form-group">
                        <input #opcion1="ngModel" [(ngModel)]="opciones.opcion1" type="text" class="form-control modal-form" name="opcion1" placeholder="Opcion 1">
                      </div>
                      <div class="form-group">
                        <input  #opcion2="ngModel" [(ngModel)]="opciones.opcion2" type="text" class="form-control modal-form" name="opcion2" placeholder="Opcion 2">
                      </div>
                      <div class="form-group">
                        <input #opcion3="ngModel" [(ngModel)]="opciones.opcion3" type="text" class="form-control modal-form" name="opcion3" placeholder="Opcion 3">
                      </div>
                      <div class="form-group">
                        <input  #opcion4="ngModel" [(ngModel)]="opciones.opcion4" type="text" class="form-control modal-form" name="opcion4" placeholder="Opcion 4">
                      </div>
                    </td>
                  
                  </tr>
               </div>
               <div *ngIf="pregunta.tipo == 'numérica'">
                  <p class="modal-label">Opciones para la pregunta</p>
                  <tr>
                    <td>
                      <div class="row">
                      <div class="form-group col-md-6">
                        <input #opcion1="ngModel" [(ngModel)]="opciones.opcion1" type="text" class="form-control modal-form" (keypress)="validateP(event)" name="opcion1" placeholder="Min">
                      </div>
                      <div class="form-group col-md-6">
                        <input  #opcion2="ngModel" [(ngModel)]="opciones.opcion2" type="text" (keypress)="validateP(event)" class="form-control modal-form" name="opcion2" placeholder="Max">
                      </div>
                      </div>
                    </td>
                  
                  </tr>
               </div>

               <div class="row"></div>
               <button type="submit" class="btn btn-success btn-with-icon"><i class="ion-plus-round"></i>Agregar pregunta</button>
                <div class="errorC"><p>{{errorP}}<p></div>
            </form>
            
          </div>
           <!--EDITAR PREGUNTA-->
           <div  *ngIf="edit" class="col-md-4" style="margin-top:2%">
            <form>
               <div class="form-group">
                 <label for="InputNombre" class="modal-label">Descripción</label>
                 <input #nombrep="ngModel" maxlength="82" name="nombrep" [(ngModel)]="pregunta2.nombre" type="text" class="form-control modal-form" id="InputNombre" placeholder="Nombre" (ngModelChange)="frasep()" required>
                 <p>{{p}} / 82</p>
               </div>       
                   <p><strong>Pregunta de tipo: </strong>{{pregunta2.tipo}}</p>            
               <div *ngIf="pregunta2.tipo == 'opción simple' || pregunta2.tipo == 'opción múltiple'">
                  
                  <p class="modal-label">Opciones para la pregunta</p>
                  <tr>
                    <td>
                      <div class="form-group">
                        <input #opcion1="ngModel" [(ngModel)]="optionUpdate.opcion1" type="text" class="form-control modal-form" name="opcion1" placeholder="Opcion 1">
                      </div>
                      <div class="form-group">
                        <input  #opcion2="ngModel" [(ngModel)]="optionUpdate.opcion2" type="text" class="form-control modal-form" name="opcion2" placeholder="Opcion 2">
                      </div>
                      <div class="form-group">
                        <input #opcion3="ngModel" [(ngModel)]="optionUpdate.opcion3" type="text" class="form-control modal-form" name="opcion3" placeholder="Opcion 3">
                      </div>
                      <div class="form-group">
                        <input  #opcion4="ngModel" [(ngModel)]="optionUpdate.opcion4" type="text" class="form-control modal-form" name="opcion4" placeholder="Opcion 4">
                      </div>
                    </td>
                  
                  </tr>
               </div>
               <div *ngIf="pregunta2.tipo == 'numérica'">
                  <p class="modal-label">Opciones para la pregunta</p>
                  <tr>
                    <td>
                      <div class="row">
                      <div class="form-group col-md-6">
                        <input #opcion1="ngModel" [(ngModel)]="optionUpdate.opcion1" type="text" class="form-control modal-form" (keypress)="validateP(event)" name="opcion1" placeholder="Min">
                      </div>
                      <div class="form-group col-md-6">
                        <input  #opcion2="ngModel" [(ngModel)]="optionUpdate.opcion2" type="text" (keypress)="validateP(event)" class="form-control modal-form" name="opcion2" placeholder="Max">
                      </div>
                      </div>
                    </td>
                  
                  </tr>
               </div>

               <div class="row"></div>
               <button type="submit" (click)="updateP()" class="btn btn-success btn-with-icon">Guardar</button>
               <button class="btn btn-danger confirm-btn" (click)="edit=false; listPregunta()">Cancelar</button>
               <div class="errorC"><p>{{errorP}}<p></div>
            </form>
            
          </div>
        </div>


      </div>
        <div>
          <button type="button" class="btn btn-success confirm-btn" (click)="update()" >Aceptar</button>
          <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()">Cancelar</button>
        </div>
    </div>

    <div *ngIf="show == 'delete'">
      <p>¿Está seguro de eliminar el Cuestionario?</p>
      <button type="button" class="btn btn-success confirm-btn" (click)="delete()" >Aceptar</button>
      <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()">Cancelar</button>
    </div>
    
  </div>

</div>
