@import "../../../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}
.modal-form{
	border: 1px solid rgb(132, 132, 132);
	color: #141414;
}
.modal-label{
	color: #141414;
    font-size: 15px;
}
.errorC{
	margin-top:3%;
}
.showdelete{
	background-color: #f3f3f3;
    height: 53%;
    width: 79%;
    border-radius: 16px;
}