
<div class="widgets">

<div class="input-group col-sm-4 offset-sm-8">
  <input type="text" class="form-control with-success-addon" placeholder="Buscar por nombre y apellido" [(ngModel)]="filter.name">
  <span class="input-group-btn">
      <button class="btn btn-primary" type="button"><i class="ion-search"></i></button>
  </span>
</div>
<div class="row">
    <i class="icon ion-chevron-left" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
    <p style="padding-right: 3%;cursor:default;">{{n}}</p>
    <i class="icon ion-chevron-right" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
  </div>
  <div class="row">
    <ba-card title="Lista de Administradores" baCardClass="with-scroll" class="smart-table-container">
    	<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th><strong>Nombre y apellido</strong></th>
      <th><strong>Nombre de usuario</strong></th>
      <th><strong>Correo electrónico</strong></th>
      <th><strong>Empresa</strong></th>
      <th style="text-align: center;"><strong>Rol</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of admins | adminfilter: filter | slice: (n-1)*limit:n*limit ">
      <td><i *ngIf="admin.adminrol != 'SA'" class="icontable ion-close-round" data-toggle="tooltip" title="Eliminar" (click)="lgModalDelete(admin)"></i></td>
      <td><i class="icontable ion-edit" (click)="lgModalShow(admin)" data-toggle="tooltip" title="Editar Administrador"></i></td>
      <td>{{ admin.name }}</td>
      <td>{{ admin.username }}</td>
      <td>{{ admin.email }}</td>
      <td><p *ngIf="admin.empresa">{{ admin.empresa['nombre'] }}</p></td>
      <td style="text-align: center;">{{ admin.adminrol }}</td>
    </tr>
    </tbody>
  </table>
</div>
      
    </ba-card>
  </div>
  

</div>
