.table th{
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 0.45rem;
}
.icon{
  color:#3c444a;
  padding-right: 3%;
  cursor: pointer;
}
.icon:hover{
  color: #00abff; 
}
.icontable{
  color:#3c444a;
  cursor: pointer;
}
.icontable:hover{
  color:#00abff; 
}