
<div class="input-group col-sm-4 offset-sm-8">
  <input type="text" class="form-control with-success-addon" placeholder="Buscar por nombre de empresa" [(ngModel)]="filter.nombre" >
  <span class="input-group-btn">
      <button class="btn btn-primary" type="button"><i class="ion-search"></i></button>
  </span>
</div>
<div class="row">
  <i class="icon ion-chevron-left" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
  <p style="padding-right: 3%;cursor:default;">{{n}}</p>
  <i class="icon ion-chevron-right" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
</div>
<div class="row">
  <ba-card title="Lista de Empresas" baCardClass="with-scroll" class="col-md-8 smart-table-container">
  	<div class="horizontal-scroll">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><strong>Nombre</strong></th>
            <th><strong>Tipo de Kiosko</strong></th>
            <th><strong>Maximo de Botones</strong></th>
         <!--   <th style="text-align: center;"><strong></strong></th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empres of empresas | empresafilter: filter | slice: (n-1)*limit:n*limit ">
            <td><i class="icontable ion-close-round" data-toggle="tooltip" title="Eliminar" (click)="elimemp(empres)"></i></td>
            <td><i class="icontable ion-edit"  data-toggle="tooltip" title="Editar" (click)="editemp(empres)"></i></td>
            <td>{{ empres.nombre }}</td>
            <td>{{ empres.tipoK }}</td>
            <td>{{ empres.maxboton }}</td>
           <!-- <td style="text-align: center;">{{ admin.adminrol }}</td>-->
          </tr>
        </tbody>
      </table>
    </div>  
  </ba-card>
  <div>
    <button *ngIf="!newEmp && !edit && !elim" type="button" class="btn btn-success" (click)="newEmpresa()">Registrar Empresa</button>
  </div>
  <!--AGREGAR EMPRESA-->
  <ba-card *ngIf="newEmp" title="Agregar nueva empresa" class="col-md-4" >
    <div class="form-group">
        <label for="InputNombre">Nombre</label>
        <input #name="ngModel" name="name" [(ngModel)]="empresa.nombre"  maxlength="40" class="form-control" id="InputNombre" [ngStyle]="nombreError()" (keypress)="validateN(event)" >
    </div>
    <div class="form-group">
      <label>Tipo de Kiosko</label>
        <div class="input-demo radio-demo ">
          <div class="col-md-4">
            <label class="ckbox-inline custom-checkbox nowrap">
            <input type="checkbox" style="border-color: #3c444a" name="inlineRadioOptions" id="inlineRadio1" (click)="check1()" value="option1">
            <span translate>Formulario</span>
            </label>
          </div>
          <div class="col-md-4">
            <label class="ckbox-inline custom-checkbox nowrap">
            <input type="checkbox" style="border-color: #3c444a" name="inlineRadioOptions" id="inlineRadio2" (click)="check2()" value="option2">
            <span>Directorio</span>
            </label>
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="InputNombre">Cantidad de botones</label>
        <input #maxboton="ngModel" name="maxboton" [(ngModel)]="empresa.maxboton" class="form-control" id="InputNombre" maxlength="1" [ngStyle]="cantError()" (keypress)="validateNum(event)" >
    </div>
    <div class="form-group">
        <label for="InputNombre">Url del Mapa</label>
        <input #mapa="ngModel" [ngStyle]="mapError()" name="mapa" [(ngModel)]="empresa.mapa" class="form-control" id="InputNombre">
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="saveEmpresa()">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
      <p style="margin-top: 10px;">{{message}}</p>
    </div>
  </ba-card>

  <!--EDITAR EMPRESA-->
  <ba-card *ngIf="edit && !elim" title="Editar empresa" class="col-md-4" >
    <div class="form-group">
        <label for="InputNombre">Nombre</label>
        <input #name="ngModel" name="name" [(ngModel)]="empresa.nombre"  maxlength="40" class="form-control" id="InputNombre" [ngStyle]="nombreError()" (keypress)="validateN(event)" >
    </div>
    <div class="form-group">
      <label>Tipo de Kiosko</label>
        <p>{{empresa.tipoK}}</p>
    </div>
    <div class="form-group">
        <label for="InputNombre">Cantidad de botones</label>
        <input #maxboton="ngModel" name="maxboton" [(ngModel)]="empresa.maxboton" class="form-control" id="InputNombre" maxlength="1" [ngStyle]="cantError()" (keypress)="validateNum(event)" >
    </div>
    <div class="form-group">
        <label for="InputNombre">Url del Mapa</label>
        <input #mapa="ngModel" [ngStyle]="mapError()" name="mapa" [(ngModel)]="empresa.mapa" class="form-control" id="InputNombre">
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="editEmpresa()">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
      <p style="margin-top: 10px;">{{message}}</p>
    </div>
  </ba-card>
  <ba-card  *ngIf="elim && !edit && !newEmp" title="Eliminar Empresa">
    <p>¿Está seguro de eliminar la empresa {{empresa.nombre}}</p>
    <button type="button" class="btn btn-success" (click)="confirmelimemp(empresa)" >Aceptar</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
  </ba-card>
</div>
  