<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><img src="{{ ( 'Xplor' | baProfilePicture ) }}"></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  
  <!--<div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>
-->
  <!--<div class="user-profile clearfix">
    <a href style="color: #8ad22f" (click)="logout()"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
  </div>-->
   
  <div class="user-profile clearfix">
   <a style="color: #00abff; cursor: default;margin-left: -120px;">Bienvenido, {{user}}</a>
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <!--<img src="{{ ( 'Nasta' | baProfilePicture ) }}">-->
        <a class="collapse-menu-link ion-more" style="margin-top: -30%;margin-left: 37%;"></a>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href routerLink="/pages/tables" style="cursor: pointer;"><i class="fa fa-user"></i>Mi perfil</a></li>
        <li class="dropdown-item" (click)="logout()"><a href class="signout" style="cursor: pointer;"  ><i class="fa fa-power-off"></i>Cerrar Seíón</a></li>
      </ul>
    </div>
    <!--<ba-msg-center></ba-msg-center>-->
  </div>

</div>
