<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="show == 'edit'">
    <form #updateForm="ngForm" (submit)="update()">
      <div class="form-group">
        <label for="InputNombre" class="modal-label">Nombre y apellido</label>
        <input #name="ngModel" name="name" [(ngModel)]="admin.name"  class="form-control modal-form" maxlength="40" id="InputNombre" placeholder="Nombre" required (keypress)="validateN(event)">
      </div>
      <div class="form-group">
        <label class="modal-label" for="InputUsername">Nombre de usuario</label>
        <input #userName="ngModel" name="userName" [(ngModel)]="admin.username" type="text" class="form-control modal-form" maxlength="40" id="InputUsername" placeholder="Nombre de usuario" (keypress)="validateP(event)">
      </div>
      <div class="form-group">
        <label class="modal-label" for="InputEmail1">Correo electrónico</label>
        <input #email="ngModel" name="email" [(ngModel)]="admin.email" type="email" class="form-control modal-form"  maxlength="40" id="InputEmail1" placeholder="Correo" required (ngModelChange)="editEmail=true">
      </div>
      <div class="form-group">
          <label  for="InputEmpresa">Empresa</label>
          <select #empre="ngModel" name="empre" [(ngModel)]="admin.empresa"  class="form-control" id="InputEmpresa">
          <option *ngIf="emprecant<=0" disabled>No hay empresas creadas</option>
                  <option *ngFor="let empresa of empresas" [value]="empresa._id">{{empresa.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="modal-label" for="InputPassword">Contraseña</label>
        <input #password="ngModel" name="password" [(ngModel)]="admin.pass" type="password" class="form-control modal-form" id="InputPassword" placeholder="Contraseña" maxlength="40" required>
      </div>
        <!--<div class="checkbox">
          <ba-checkbox [(ngModel)]="isChecked" [label]="'Super administrador'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
        </div>-->
        <button type="button" (click)="closeModal()" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="update()">Guardar</button>
        <p class="error">{{message}}<p>
        
      </form>
    </div>
    <div *ngIf="show == 'delete'">
      <p>¿Está seguro de eliminar este Administrador?</p>
      <div>
        <button type="button" class="btn btn-success confirm-btn" (click)="delete()" > Aceptar</button>
        <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()"> Cancelar</button>
      </div>
    </div>
    <div *ngIf="show == 'deletemyacount'">
      <p>Esta es su cuenta de Super Administrador, ¿Está Seguro de querer eliminarla?</p>
      <div>
        <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()"> Cancelar</button>
        <button type="button" class="btn btn-success confirm-btn" (click)="delete()" > Aceptar</button>
      </div>
    </div>
  </div>
</div>
