@import "../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}

.modal-form{
	border: 1px solid rgb(132, 132, 132);
	color: #141414;
}
.modal-label{
	color: #141414;
    font-size: 15px;
}
.generatebtn{
	margin-left: 50%;
    margin-bottom: 2%;
    margin-top: -6%;
}
.errorK{
	margin-left: 24%;
    margin-top: -3%;
    color: #f95353;
}
modal-formtable{
  border: 1px solid rgb(132, 132, 132);
  color: #ffffff; 
  }

.message{
    margin-left: 261px;
    margin-top: 9px;
}
.table th{
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 0.45rem;
  color: white;
}
.filt{
  background-color: #a2a3a4;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 0.45rem;
  
}
.iconlist{
  cursor: pointer;
}
.iconlist:hover{
  color: green; 
}