<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

    <div class="modal-body">
      <div *ngIf="show =='false'|| show =='crear'">
        <form #kioskoform="ngForm" (submit)="save()">
          <div>            
            <div class="form-group col-md-6 ">
              <label class="modal-label" for="nombrekiosko">Nombre</label>
                <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="kiosko.nombre" id="nombrekiosko" class="form-control modal-form" placeholder="Nombre del Kiosko" required>
            </div>
            <div class="form-group col-md-6 ">
              <label class="modal-label" for="nombrekiosko">Identificador</label>
                <input type="text" #id="ngModel" name="id" [(ngModel)]="kiosko.id" id="idkiosko" class="form-control modal-form" placeholder="Nombre del Kiosko" readonly required>
            </div>
            <div class="generatebtn">
              <button type="button" class="btn btn-success confirm-btn" (click)="makeid()">Generar aleatorio</button>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="modal-label" for="exampleSelect1">Seleccionar Cuestionario</label>
              <select #cuestionario="ngModel" name="cuestionario" [(ngModel)]="kiosko.cuestionario" class="form-control modal-form" id="exampleSelect1">
                <option *ngIf="fcuest<=0" disabled>No hay cuestionarios creados</option>
                <option *ngFor="let cuestionario of cuestionarios" [value]="cuestionario._id">{{cuestionario.nombreC}}</option>

              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="modal-label" for="exampleSelect1">Seleccionar Tema</label>
              <select  #tema="ngModel" name="tema" [(ngModel)]="kiosko.tema" class="form-control modal-form" id="exampleSelect1">
                <option *ngIf="ftemas<=0" disabled>No hay temas creados</option>
                <option *ngFor="let tema of temas" [value]="tema._id">{{tema.nombre}}</option>
                
              </select>
            </div>
          </div>
          <div>
            <button class="btn btn-danger confirm-btn" (click)="closeModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary confirm-btn" >Guardar</button>
            <p class="errorK"><strong>{{errorK}}</strong></p>
          </div>
        </form>
    </div>
    
    <div *ngIf="show == 'true'">
      <div *ngFor="let pregunta of preguntas">
        <div class="container">
          <div class="row col-6">
            <h3>{{pregunta.nombre}}</h3>
            <p>{{pregunta.tipo}}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="show == 'reporte'">
      <div>
        <h1>Total Personas que completaron el cuestionario: {{total}}</h1>
        <p>Total de personas que usaron el sistema {{usertotal}}</p>
        <h3>Por Sexo</h3>
        <div class="row col-md-12">
          <div class="col-md-4"><p>Masculino: {{sexo[0]}} - <strong>{{sexo[3]}}%</strong></p></div>
          <div class="col-md-4"><p>Femenino: {{sexo[1]}} - <strong>{{sexo[4]}}%</strong></p></div>
        </div>
        <h3>Por rango de Edad</h3>
        <div class="row col-md-12">
          <div class="col-md-4"><p>Entre 18 y 29 : {{edad[0]}} - <strong>{{edad[5]}}%</strong></p></div>
          <div class="col-md-4"><p>Entre 30 y 39 : {{edad[1]}} - <strong>{{edad[6]}}%</strong></p></div>
          <div class="col-md-4"><p>Entre 40 y 49 : {{edad[2]}} - <strong>{{edad[7]}}%</strong></p></div>
          <div class="col-md-4"><p>Entre 50 y 59 : {{edad[3]}} - <strong>{{edad[8]}}%</strong></p></div>
          <div class="col-md-4"><p>Mas de 60     : {{edad[4]}} - <strong>{{edad[9]}}%</strong></p></div>
        </div>
      </div>
      <div>
        <div style="margin-top: 15px"></div>
        <button type="submit" class="btn btn-danger confirm-btn" (click)="createPdf()" ><i class="ion-archive"></i> Generar PDF</button>
      </div>
    </div>

  <div *ngIf="show == 'reporteperson'">
        
    <div class="row"></div>
    <div class="row">
      <i class="iconlist ion-chevron-left" style="margin-left: 2%;" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
      <p style="padding-right: 3%;margin-left:5%;cursor:default;">{{n}}</p>
      <i class="iconlist ion-chevron-right" style="margin-left: 2%;" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
    </div>
    <div style="margin-top: 1%"></div>
      <div class="container">
        <table id="datatable" class="table table-condensed">
          <thead style="background-color: #636c72">
          <tr>
            <th><button type="button" class="btn btn-success" (click)="filt()"><i class="ion-funnel"></i></button></th>
            <th>Nombre</th>
            <th>Apellido</th>
            <!--<th>País</th>-->
            <th>Ciudad</th>
            <!--<th>Teléfono</th>-->
            <th>Correo electrónico</th>


            
            <!--<th><strong>Edad</strong></th>-->
            <!--<th><strong>Sexo</strong></th>-->
            <!--<th><strong>Pais</strong></th>-->
            <!--<th><strong>Ciudad</strong></th>-->
            </tr>
          </thead>
          <tbody>
          <tr *ngIf="showfilt" class="filt">
            <td>Filtrar:</td>
            <td><input type="text" name="" class="form-control modal-formtable" placeholder="Nombre" [(ngModel)]="filter.nombre"></td>
            <td><input type="text" name="" class="form-control modal-formtable" placeholder="Apellido" [(ngModel)]="filter.apellido"></td>
            <!--<td><input type="text" name="" class="form-control modal-formtable" placeholder="País" [(ngModel)]="filter.pais"></td>-->
            <td><input type="text" name="" class="form-control modal-formtable" placeholder="Ciudad" [(ngModel)]="filter.ciudad"></td>
            <!--<td><input type="text" name="" class="form-control modal-formtable" placeholder="Teléfono" [(ngModel)]="filter.telefono"></td>-->
            <td><input type="text" name="" class="form-control modal-formtable" placeholder="Correo electrónico" [(ngModel)]="filter.correo"></td>
         
          </tr>
          <tr *ngFor="let u of user| userfilter:filter | slice: (n-1)*limit:n*limit">
            <td></td>
            <td style="text-align: initial;font-size: 14px">{{ u.nombre }}</td>
            <td style="font-size: 14px">{{ u.apellido }}</td>
            <!--<td>{{ u.edad }}</td>-->
            <!--<td>{{ u.sexo }}</td>-->
           <!-- <td>{{ u.pais }}</td>-->
            <td style="font-size: 14px">{{ u.ciudad }}</td>
            <!--<td>{{ u.telefono }}</td>-->
            <td style="font-size: 14px">{{ u.correo }}</td>
          </tr>
          </tbody>
        </table>               
          <p class="message" *ngIf="message!=''">{{message}}</p>
      </div> 
      <div style="margin-top: 15px"></div>
      <div>
        <button *ngIf="person" type="submit" class="btn btn-success confirm-btn" (click)="create()" ><i class="ion-archive"></i> Generar excel</button>
      </div>
    </div>
    <div *ngIf="show == 'eliminar'">
      <div *ngIf="elim">
        <p>¿Está seguro de eliminar este reporte?</p>
        <button type="button" class="btn btn-success confirm-btn" (click)="DeleteReporteC('si')" > Aceptar</button>
        <button type="button" class="btn btn-danger confirm-btn" (click)="DeleteReporteC('no')"> Cancelar</button>
      </div>
      <div *ngIf="!elim">
        <p>Aun no se puede eliminar el reporte, Su cuestionario correspondiente aun existe</p>
      </div>
    </div>
    <div *ngIf="show == 'deletek'">
      <p>¿Está seguro de eliminar el Kiosko?</p>
      <button type="button" class="btn btn-success confirm-btn" (click)="deleteKiosko()" >Aceptar</button>
      <button type="button" class="btn btn-danger confirm-btn" (click)="closeModal()">Cancelar</button>
    </div>
</div>


<script language="javascript">
  populateCountries("country", "state"); //is id of country drop-down and second parameter is id of state drop-down
</script>

