
    <div *ngIf="crear == true" class="col-md-12">
      <ba-card title="Agregar Nuevo">
        <form>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="textprincipal">Descripción</label>
              <input type="text" name="nombre" id="nombre" [ngStyle]="nameError()" class="form-control" [(ngModel)]="tema.nombre">
            </div>
            
          </div>
          <div [ngStyle]="succesFile()" class="form-group fileUpload  btn col-sm-3">         
              <span style="color:#fff">Subir Imagen</span>
              <input type="file" class="upload" accept="image/x-png" (change)="fileChangeEvent($event)">
            </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="textprincipal">Texto Principal</label>
              <input type="text" name="textprincipal" id="textprincipal" class="form-control" maxlength="60" [(ngModel)]="tema.fraseP" (ngModelChange)="frasep()">
              <p class="cont">{{p}} / 60</p>
            </div>
            <div class="form-group col-sm-6">
              <label for="textprincipal">Texto Final</label>
              <input type="text" name="textfinal" maxlength="140" [ngStyle]="fraseError()" id="textfinal" class="form-control" [(ngModel)]="tema.fraseF" (ngModelChange)="frasef()">
              <p class="cont">{{f}} / 140</p>
            </div>
          </div>
          <div  class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" style="padding-left: 5px; width:0%;color:#2b2323">
              
            </div>
          </div>

          <div style="margin-top: 1%"></div>
          <button type="button" class="btn btn-danger btn-icon" (click)="createTeme();errorfrase=false;errorname=false">Cancelar</button>
          <button type="submit" class="btn btn-primary btn-icon" (click)="saveTema()">Guardar</button>
          
        </form>
        
        <p class="error">{{errorCreate}}</p>
      </ba-card>
    </div>
    <div *ngIf="edit == true && !crear" class="col-md-12">
      <ba-card title="Editar">
        <form>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="textprincipal">Descripción</label>
              <input type="text" name="nombre" id="nombre" [ngStyle]="nameError()" class="form-control" [(ngModel)]="tema2.nombre">
            </div>
            
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="textprincipal">Texto Principal</label>
              <input type="text" name="textprincipal" id="textprincipal" class="form-control" maxlength="60" [(ngModel)]="tema2.fraseP" (ngModelChange)="frasep()">
              <p class="cont">{{p}} / 60</p>
            </div>
            <div class="form-group col-sm-6">
              <label for="textprincipal">Texto Final</label>
              <input type="text" name="textfinal" maxlength="140" [ngStyle]="fraseError()" id="textfinal" class="form-control" [(ngModel)]="tema2.fraseF" (ngModelChange)="frasef()">
              <p class="cont">{{f}} / 140</p>
            </div>
          </div>
          <div style="margin-top: 1%"></div>
          <button type="button" class="btn btn-danger btn-icon" (click)="closeEdit();errorfrase=false;errorname=false">Cancelar</button>
          <button type="submit" class="btn btn-success btn-icon" (click)="update();edit=false">Guardar</button>
          
        </form>
        
        <p class="error">{{errorCreate}}</p>
      </ba-card>
    </div>
      <div class="row">
      <i class="icon ion-chevron-left" style="margin-left: 2%;" (click)="prev()" data-toggle="tooltip" title="Página anterior"></i>
      <p style="padding-right: 3%;margin-left:2%;cursor:default;">{{n}}</p>
      <i class="icon ion-chevron-right" style="margin-left: 2%;" (click)="next()" data-toggle="tooltip" title="Página siguiente"></i>
    </div>
    <div style="margin-top: 1%"></div>
    <div >
      <ba-card title="Temas creados">
        <button type="button" (click)="createTeme()" class="btn btn-primary btn-icon"><i class="ion-plus-round" ></i> Crear nuevo</button>
        <div class="row">
          <div *ngIf="message!=''" style="margin: 0 auto"><p>{{message}}</p></div>
          <div *ngFor="let tema of temas | slice: (n-1)*limit:n*limit" class="col-md-3">
            <ba-card title="{{tema.nombre}}" class="col-md-3">
              
              <div class=" image">
                <img src="{{url +'getImage/'+tema.archivo}}" style="width: 150px; text-align: center">
              </div>
              <i class="ion-close-round icon" data-toggle="tooltip" title="Eliminar tema" (click)=" lgModalShow(tema)"></i>
              <i class="ion-edit icon" data-toggle="tooltip" title="Editar" (click)="setTematoedit(tema);errorfrase=false;errorname=false"></i>
              
            </ba-card>
          </div>
        </div>
      </ba-card>
    </div>
