.image{
  width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}
.icon{
  color:#3c444a;
}
.icon:hover{
  color: #00abff; 
}
.cont{
  color:#00abff;
    margin-left: 85%;
    margin-top: 2%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-left: 51%;
    margin-top: -7%;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.error{
    margin-top: 15px;
}
.icon{
  color:#3c444a;
  padding-right: 3%;
  cursor: pointer;
}
.icon:hover{
  color:  #00abff; 
}

