<div *ngIf="empresa.tipoK=='Multiple'||empresa.tipoK=='Formulario'" class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <pie-chart></pie-chart>
  </div>
</div>

<div *ngIf="empresa.tipoK=='Multiple'||empresa.tipoK=='Formulario'" class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                     title="Ultimos reportes generados" >
    <p style="margin-left: 35%">{{messageR}}</p>
    <div class="col-sm-12" *ngFor="let repor of reportesC">
      <ba-card>
        <h4>Reportes de: {{repor.cuestionarioN}}</h4>
        <div>
          <i class="ion-eye icon " data-toggle="tooltip" title="Mostrar Reportes" style="padding-right: 3%" (click)="lgModalShowReporte(repor)"></i>
          <i class="ion-person-stalker icon" style="padding-right: 3%" (click)="lgModalShowPersonReporte(repor)" data-toggle="tooltip" title="Mostrar personas registradas"></i>
          <i class="ion-close-round icon" style="padding-right: 3%" (click)="lgModalShowElim(repor)" data-toggle="tooltip" title="Eliminar"></i>

        </div>
      </ba-card>
    </div>
    <a class="rout" routerLink="/pages/forms">Ver más</a>
  </ba-card>

  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
           title="Ultimos Kioskos creados">
    
    <!--<button (click)="lgModalShow()" type="button" class="btn btn-primary"><i class="ion-plus-round" data-toggle="tooltip" title="Crear un nuevo kiosko" ></i> Crear nuevo</button>
    -->
    <div style="margin-bottom: 1rem"></div>
    <p style="margin-left: 35%">{{messageK}}</p>
    <div class="row">
      <div class="col-sm-6" *ngFor="let kiosko of kioskos">        
        <ba-card>
            <h4>{{kiosko.nombre}}             
              <i *ngIf="kiosko.estado == true" class="ion-ios-close" style="color: #8bd22f" data-toggle="tooltip" title="Activo"></i>
              <i *ngIf="kiosko.estado == false" class="ion-ios-close" style="color: #FF5722" data-toggle="tooltip" title="Inactivo"></i>
            </h4>
            <div >
              <i class="ion-edit icon" style="padding-right: 3%" (click)="lgModalShowKioskoEdit(kiosko)" data-toggle="tooltip" title="Editar kiosko" ></i>
              <i class="ion-eye icon" style="padding-right: 3%" (click)="lgModalShowKiosko(kiosko)" data-toggle="tooltip" title="Mostrar información del kiosko"></i>
              <i class="ion-close-round icon" style="padding-right: 3%" (click)="lgModalKioskoElim(kiosko)" data-toggle="tooltip" title="Eliminar"></i>
            </div>
            
        </ba-card>
        
      </div>
      <div class="col-sm-6" *ngFor="let kioskod of kioskosD">        
        <ba-card>
            <h4>{{kioskod.descripcion}}           
              <i *ngIf="kioskod.estado == true" class="ion-ios-close" style="color: #8bd22f" data-toggle="tooltip" title="Activo"></i>
              <i *ngIf="kioskod.estado == false" class="ion-ios-close" style="color: #FF5722" data-toggle="tooltip" title="Inactivo"></i>
            </h4>
            <div >
              <i class="ion-cube icon" style="padding-right: 3%" data-toggle="tooltip" title="Editar botones" (click)="editBoton(kioskod)"></i>
              <i class="ion-edit icon" style="padding-right: 3%"   data-toggle="tooltip" title="Editar kiosko" (click)="editKD(kioskod)"></i>
              <i class="ion-eye icon" style="padding-right: 3%"  data-toggle="tooltip" title="Mostrar Información del kiosko"></i>
              <i class="ion-close-round icon" style="padding-right: 3%"  data-toggle="tooltip" title="Eliminar" (click)="lgModalDeleteKioskoD(kioskod)"></i>
            </div>
        </ba-card>
      </div>
    </div>
    <a class="rout" routerLink="/pages/ui">Ver más</a>
  </ba-card>
</div>

<ba-card *ngIf="empresa.tipoK=='Directorio'" class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12"
           title="Ultimos Kioskos creados">
    <!--<button (click)="lgModalShow()" type="button" class="btn btn-primary"><i class="ion-plus-round" data-toggle="tooltip" title="Crear un nuevo kiosko" ></i> Crear nuevo</button>
    -->
    <div style="margin-bottom: 1rem"></div>
    <p style="margin-left: 35%">{{messageK}}</p>
    <div class="row">
      <div class="col-sm-6" *ngFor="let kioskod of kioskosD">        
        <ba-card>
            <h4>{{kioskod.descripcion}}           
              <i *ngIf="kioskod.estado == true" class="ion-ios-close" style="color: #8bd22f" data-toggle="tooltip" title="Activo"></i>
              <i *ngIf="kioskod.estado == false" class="ion-ios-close" style="color: #FF5722" data-toggle="tooltip" title="Inactivo"></i>
            </h4>
            <div >
              <i class="ion-cube icon" style="padding-right: 3%" data-toggle="tooltip" title="Editar botones" (click)="editBoton(kioskod)"></i>
              <i class="ion-edit icon" style="padding-right: 3%"   data-toggle="tooltip" title="Editar kiosko" (click)="editKD(kioskod)"></i>
              <i class="ion-eye icon" style="padding-right: 3%"  data-toggle="tooltip" title="Mostrar Información del kiosko"></i>
              <i class="ion-close-round icon" style="padding-right: 3%"  data-toggle="tooltip" title="Eliminar" (click)="lgModalDeleteKioskoD(kioskod)"></i>
            </div>
        </ba-card>
      </div>
    </div>
    <a class="rout" routerLink="/pages/ui">Ver más</a>
  </ba-card>


