
	<div class="col-md-12">
		<ba-card >
			<div class="row">
				<img src="{{ ( 'no-photo' | baProfilePicture ) }}">
				<div>
					<h1 style="font-size: 68px;color: #bebfbf">{{admin.name}}</h1>
					<h3 style="font-size: 28px">{{admin.username}}
						<p *ngIf="admin.adminrol=='SA'" style="font-size:15px">Super Administrador</p>
						<p *ngIf="admin.adminrol=='A'" style="font-size:15px">Administrador</p>
					</h3>
					
					<p style="font-size:18px">{{admin.email}}</p>
					<p style="font-size:18px"><strong>Empresa: </strong>{{empresa.nombre}}</p>
				</div>
			</div>
			<div class="row" style="margin-left: 64%;">
				<p class="icon" style=" padding-right: 24px;"(click)="showUpE=true;showUpP=false;message='';erorrpass=false">Editar Datos</p>
				<p class="icon" (click)="showUpP=true;showUpE=false;message='';erroremail=false;errorname=false">Editar Contraseña</p>
			</div>
			
		</ba-card>
	</div>
	<div *ngIf="message!=''">
		<ba-card>
			<p>{{message}}</p>
		</ba-card>
	</div>
<div class="row">
<div *ngIf="showUpE " class="col-md-6">
		<ba-card>
			<div class="form-group">
			    <label for="InputNombre">Nombre y Apellido</label>
			    <input #name2update="ngModel" name="name2update" [(ngModel)]="name2"  maxlength="40" class="form-control" id="InputNombre" (keypress)="validateN(event)" [ngStyle]="nameError()">
			</div>
          	<div class="form-group">
			    <label for="InputEmail1">Correo electrónico</label>
			    <input #email2update="ngModel" name="email2update" [(ngModel)]="email2" type="email" class="form-control" id="InputEmail1" [ngStyle]="emailError()">
			</div>
			<div>
				<button class="btn btn-danger confirm-btn" (click)="showUpE=false;message='';erroremail=false;errorname=false">Cancelar</button>
      			<button type="submit" class="btn btn-primary confirm-btn" (click)="update()" >Guardar</button>  
			</div>
		</ba-card>
	</div>
<div *ngIf="showUpP " class="col-md-6">
		<ba-card>
			<div class="form-group">
				<label  for="InputPassword">Contraseña</label>
			    <input #password="ngModel" name="password" [(ngModel)]="pass" type="password" class="form-control" id="InputPassword" maxlength="40" (keypress)="validateP(event)" [ngStyle]="passError()">
			    
			</div>
			<div class="form-group">
				<label  for="InputPassword2">Confirmar Contraseña</label>
			    <input #password2="ngModel" name="password2" [(ngModel)]="passconfirm" type="password" class="form-control" id="InputPassword2" maxlength="40" (keypress)="validateP(event)" [ngStyle]="passError()">
			</div>
			<div>
				<button class="btn btn-danger confirm-btn" (click)="showUpP=false;message='';erorrpass=false" >Cancelar</button>
      			<button type="submit" class="btn btn-primary confirm-btn" (click)="update2()" >Guardar</button>  
			</div>
		</ba-card>
</div>
</div>
